@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

$primaryColor: rgb(20, 20, 20);
$secondaryColor: rgb(0, 206, 209);
$tertiaryColor: rgb(238, 242, 240);
$primaryFont: "Jost", sans-serif;

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color: $tertiaryColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid $primaryColor;
    text-decoration: none;

    .menu-principal {
        display: flex;
        gap: 32px;
    }
}

@media (max-width: 576px) {
    .menu-principal {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: end;
    }
}

.item {
    color: $primaryColor;
    font-family: $primaryFont;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;

    &:hover {
        color: $secondaryColor;
    }
}

.conteudo,
.card-borda .card {
    border: 1px solid $primaryColor;
}

.borda-carrossel,
.card-body {
    border-top: 1px solid $primaryColor;
    font-family: $primaryFont;
    font-weight: 500;
}

.cor {
    background-color: $secondaryColor;
}

.card {
    box-shadow: 6px 6px $primaryColor;
}

.tamanho-card {
    width: 18em;
}

.botao {
    background-color: $primaryColor;
    padding: 8px;
    color: $tertiaryColor;
    border-radius: 7px;

    &:hover {
        background-color: $secondaryColor;
        border: 1px solid $primaryColor;
        padding: 8px;
        color: $tertiaryColor;
        border-radius: 7px;
    }
}

.titulo {
    color: $tertiaryColor;
    background-color: $primaryColor;
    text-align: center;
    font-family: $primaryFont;
    font-size: 10em;
    font-weight: 400;
}

@media (max-width: 576px) {
    .titulo {
        font-size: 4em;
    }
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .item-rodape {
        text-decoration: none;
        margin-bottom: 3em;
        color: $primaryColor;
        font-family: $primaryFont;
        font-size: 1em;
        font-weight: 400;

        &:hover {
            color: $secondaryColor;
        }
    }
}

@media (max-width: 576px) {
    .rodape {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        margin: 30px;
    }
}

.btn-compra {
    color: $tertiaryColor;
    background-color: $primaryColor;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid $primaryColor;

    &:hover {
        background-color: $secondaryColor;
        color: $tertiaryColor;
    }
}

.paleta-cores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    gap: 10px;
    position: absolute;
    top: 10em;
    right: 0.9em;


    //Cores - Card 1
    .cor {
        background-color: rgb(37, 37, 37);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }

    .cor1 {
        background-color: rgb(40, 72, 67);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }

    .cor2 {
        background-color: rgb(131, 51, 51);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }

    .cor3 {
        background-color: rgb(112, 22, 54);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }

    //Cores - Card 2
    .cor4 {
        background-color: rgb(190, 150, 141);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }
    .cor5 {
        background-color: rgb(206, 202, 255);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }
    .cor6 {
        background-color: rgb(246, 202, 255);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }
    .cor7 {
        background-color: rgb(134, 245, 252);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }
    .cor8 {
        background-color: rgb(159, 206, 207);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }
    .cor9 {
        background-color: rgb(230, 182, 230);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }
    .cor10 {
        background-color: rgb(192, 169, 151);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }
    .cor11 {
        background-color: rgb(143, 141, 170);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }
    .cor12 {
        background-color: rgb(226, 226, 231);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }
    .cor13 {
        background-color: rgb(217, 195, 220);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }
    .cor14 {
        background-color: rgb(186, 197, 201);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }
    .cor15 {
        background-color: rgb(215, 203, 184);
        width: 1em;
        height: 1em;
        border: 1px solid;
    }
}

.cursor-linha {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
}

.cursor {
    animation: cursorPiscando 1s infinite normal;

    @keyframes cursorPiscando {
        from {
            border-right-color: rgba(255, 255, 255, 0.75);
        }
        to {
            border-right-color: transparent;
        }
    }
}

.valor{
    text-decoration: line-through;
    font-size: small;
}

.about-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid;
    padding: 4em;
    background-color: $primaryColor;

    .profile-picture{
        width: 20em;
        height: 20em;
        border: 1px solid;
        border-radius: 50%;
    }
    
}




