@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color: #EEF2F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid black;
    text-decoration: none;
}

.menu-principal {
    display: flex;
    gap: 32px;
}

.item {
    color: black;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.item:hover {
    color: darkturquoise;
}

.conteudo, .card-borda .card {
    border: 1px solid black;
}

.borda-carrossel, .card-body {
    border-top: 1px solid black;
}

.cor {
    background-color: darkturquoise;
}

.card {
    box-shadow: 6px 6px black;
}

.botao {
    background-color: #000000;
    padding: 8px;
    color: #EEF2F0;
    border-radius: 7px;
}

.botao:hover {
    background-color: darkturquoise;
    border: 1px solid black;
    padding: 8px;
    color: #EEF2F0;
    border-radius: 7px;
}

.tamanho-card {
    width: 18em;
}

.titulo {
    color: #EEF2F0;
    background-color: #000000;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 10em;
    font-weight: 400;
}

@media (max-width: 576px) { 
    .titulo{
        font-size: 4em;
    }
 }

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item-rodape {
    text-decoration: none;
    margin-bottom: 3em;
    color: #000000;
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.item-rodape:hover {
    color: darkturquoise;
}

.botaozinho{
    color: #EEF2F0;
    background-color: black;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid black;
}

.botaozinho:hover{
    background-color: darkturquoise;
    color: #EEF2F0;
}
