@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
  background-color: #eef2f0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #141414;
  text-decoration: none;
}

.menu .menu-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

@media (max-width: 576px) {
  .menu-principal {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: end;
  }
}

.item {
  color: #141414;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.item:hover {
  color: darkturquoise;
}

.conteudo,
.card-borda .card {
  border: 1px solid #141414;
}

.borda-carrossel,
.card-body {
  border-top: 1px solid #141414;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

.cor {
  background-color: darkturquoise;
}

.card {
  -webkit-box-shadow: 6px 6px #141414;
          box-shadow: 6px 6px #141414;
}

.tamanho-card {
  width: 18em;
}

.botao {
  background-color: #141414;
  padding: 8px;
  color: #eef2f0;
  border-radius: 7px;
}

.botao:hover {
  background-color: darkturquoise;
  border: 1px solid #141414;
  padding: 8px;
  color: #eef2f0;
  border-radius: 7px;
}

.titulo {
  color: #eef2f0;
  background-color: #141414;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 10em;
  font-weight: 400;
}

@media (max-width: 576px) {
  .titulo {
    font-size: 4em;
  }
}

.rodape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.rodape .item-rodape {
  text-decoration: none;
  margin-bottom: 3em;
  color: #141414;
  font-family: "Jost", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.rodape .item-rodape:hover {
  color: darkturquoise;
}

@media (max-width: 576px) {
  .rodape {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 30px;
  }
}

.btn-compra {
  color: #eef2f0;
  background-color: #141414;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #141414;
}

.btn-compra:hover {
  background-color: darkturquoise;
  color: #eef2f0;
}

.paleta-cores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0%;
  gap: 10px;
  position: absolute;
  top: 10em;
  right: 0.9em;
}

.paleta-cores .cor {
  background-color: #252525;
  width: 1em;
  height: 1em;
  border: 1px solid;
}

.paleta-cores .cor1 {
  background-color: #284843;
  width: 1em;
  height: 1em;
  border: 1px solid;
}

.paleta-cores .cor2 {
  background-color: #833333;
  width: 1em;
  height: 1em;
  border: 1px solid;
}

.paleta-cores .cor3 {
  background-color: #701636;
  width: 1em;
  height: 1em;
  border: 1px solid;
}

.cursor-linha {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
}

.cursor {
  -webkit-animation: cursorPiscando 1s infinite normal;
          animation: cursorPiscando 1s infinite normal;
}

@-webkit-keyframes cursorPiscando {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes cursorPiscando {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/*# sourceMappingURL=style.css.map */